# Copyright 2022 NetApp, Inc. All Rights Reserved.
# Licensed under the Apache License, Version 2.0.

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: beegfs-csi # Modify this to deploy to a different namespace.
bases:
  - ../../versions/latest # Modify this to select a specific Kubernetes version.
resources:
  - namespace.yaml
patchesStrategicMerge:
  # See ../examples/patches for additional patch ideas.
  - patches/node-affinity.yaml
  # Uncomment the following line and edit the referenced file to adjust the driver resource limits
  # - patches/container-resources.yaml
configMapGenerator:
  # Kustomize will append a hash of the ConfigMap data to this name because it is considered "bad practice" to change
  # the data held in a live ConfigMap. Kustomize will also change all references to this ConfigMap to include the hash.
  # It will do this any time a "kubectl apply -k" is used in combination with changed config data, so StatefulSets,
  # Deployments, etc. are updated and know about the latest changes.
  - name: csi-beegfs-config
    files:
      - csi-beegfs-config.yaml
secretGenerator:
  # Kustomize will append a hash of the Secret data to this name because it is considered "bad practice" to change
  # the data held in a live Secret. Kustomize will also change all references to this Secret to include the hash.
  # It will do this any time a "kubectl apply -k" is used in combination with changed config data, so StatefulSets,
  # Deployments, etc. are updated and know about the latest changes.
  - name: csi-beegfs-connauth
    files:
      - csi-beegfs-connauth.yaml
  - name: csi-beegfs-tlscerts
    files:
      - csi-beegfs-tlscerts.yaml
# The images section is used to transform the image name to specify the specific image to use in the deployment
# manifests. This section can be used to adjust the registry and image names and tags for air-gapped environments
# or other scenarios where custom containers names are used. You can adjust the registry and/or location within
# a registry with the newName field. You can change the tag being used with the NewTag field. You can also
# use an image digest with the digest field.
# See https://kubectl.docs.kubernetes.io/references/kustomize/builtins/#_imagetagtransformer_
# for more information on how to use this section.
#images:
#  - name: ghcr.io/thinkparq/beegfs-csi-driver
#    newTag: v1.5.0
#    digest: sha256:9027762e2ae434aa52a071a484b0a7e26018c64d0fb884f7f8cff0af970c4eb8
#   - name: k8s.gcr.io/sig-storage/csi-provisioner
#     newName:
#     newTag:
#   - name: k8s.gcr.io/sig-storage/csi-resizer
#     newName:
#     newTag:
#   - name: k8s.gcr.io/sig-storage/livenessprobe
#     newName:
#     newTag:
#   - name: k8s.gcr.io/sig-storage/csi-node-driver-registrar
#     newName:
#     newTag:
