apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        image: controller:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # Pass the manager's namespace to it so it can limit its watches (and the size of its cache).
        env:
          - name: BEEGFS_CSI_DRIVER_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        # The operator only watches (and caches) Stateful Sets, Daemon Sets, Secrets, and Config Maps in its namespace.
        # Under normal conditions it stabilizes at ~47Mi of memory and virtually no CPU.
        resources:
          limits:
            cpu: 100m      # The operator-sdk default (more than we've ever observed).
            memory: 150Mi  # Triple the expected memory utilization in case we run in a shared namespace.
          requests:
            cpu: 100m      # The operator-sdk default (more than we've ever observed).
            memory: 50Mi   # About the expected memory utilization.
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
